<%- include partials/header_index.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<h2 class="reach">ABOUT OUR SYSTEM</h2>
<div class="intro">
    Our restaurant inventory and reception system have been designed with a commitment to efficiency, reliability, and seamless operations. Discover more about our system below!
</div>
<div class="team-intro">
    <div class="team-picture"><img width="200px" height="200px" src="./Assets/images/ceo.jpg"></div>
    <div class="team-detail">
        <h3>What do we aim to achieve?</h3>
        <p>The aim of this project is to streamline restaurant operations, including inventory management and reception tasks. Click below to explore the code.</p>
        
    </div>
    <div class="team-border"></div>
</div>
<div class="team-intro">
    <div class="team-picture"><img width="200px" height="200px" src="./Assets/images/team.jpg"></div>
    <div class="team-detail">
        <h3>Meet our TEAM</h3>
        <p>Our restaurant management system is powered by a dedicated team of professionals. They are committed to ensuring smooth operations for your dining establishment. Our team has been serving the restaurant industry since 2022.</p>
        
    </div>
    <div class="team-border"></div>
</div>
<div class="team-intro">
    <div class="team-picture"><img width="200px" height="200px" src="./Assets/images/history.jpg"></div>
    <div class="team-detail">
        <h3>Know our HISTORY</h3>
        <p>Our restaurant inventory and reception system originated from a vision to simplify restaurant management. Today, it stands as a testament to the dedication of our founding members.</p>
        
    </div>
    <div class="team-border"></div>
</div>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
