<%- include partials/header_index.ejs %>

<%- include partials/main_nav.ejs %>
  

<!-- Main Content -->
  <div class="outdiv">
    <div class="indiv"><img src="./Assets/images/restaurant1.jpg" width="416px" height="277px" alt="smiling woman" ></div>
    <div class="indiv"><img src="./Assets/images/restaurant2.jpg" width="416px" height="277px" alt="Big smile" ></div>
    <div class="indiv"><img src="./Assets/images/restaurant3.jpg" width="416px" height="277px" alt="smiling ballon and lasy" ></div>
  </div>
  <h1>Inventory and Reception System</h1>
  <h2>Inventory Management</h2>
  <div class="products">
      <ul class="ulitem">
          <li class="liitem"><a class="item">Food Items</a></li>
          <li class="liitem"><a class="item">Beverages</a></li>
          <li class="liitem"><a class="item">Ingredients</a></li>
          </ul>
  </div>
  <h2>Menu</h2>
  <div class="products">
      <ul class="ulitem">
          <li class="liitem"><a class="item">Appetizers</a></li>
          <li class="liitem"><a class="item">Main Courses</a></li>
          <li class="liitem"><a class="item">Desserts</a></li>
          </ul>
  </div>
  <h2>Reception Management</h2>
  <div class="products">
      <ul class="ulitem">
          <li class="liitem"><a class="item">Reservations</a></li>
          <li class="liitem"><a class="item">Customer Orders</a></li>
          <li class="liitem"><a class="item">Table Assignments</a></li>
          </ul>
  </div>
  




