<%- include partials/header_index.ejs %>

<%- include partials/main_nav.ejs %>

  <!--Main section-->
  <div class="carousel">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./Assets/images/services.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" ">
              <h3  >EFFICIENT RESTAURANT SERVICE</h3>
              <h4 >Experience efficient service at our restaurant, where we prioritize timely delivery of your orders.</h4>
              <br>
              <br>
              <h3 >DINE-IN EXPERIENCE</h3>
              <h4 >Enjoy a delightful dine-in experience with a diverse menu and welcoming ambiance at our restaurant.</h4>
              <br>
              <br>
              <h3 >SEAMLESS INVENTORY MANAGEMENT</h3>
              <h4 >Optimize your restaurant operations with our seamless inventory management system for better control.</h4>
            </div>
            
        </div>
       
  
  <!--Script Section-->
  <script src="/script/app.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
</body>
</html>